/*main stuff, don't touch*/

@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');


* {
  font-family: 'Lora', serif;
  font-family: 'Source Sans Pro', sans-serif;

}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  width: auto;
  height: auto;
}

body {
  margin-top: 4rem !important;
  margin: 0%;
  background-color: #E5E5E3;
}

main {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2.4375rem;
  margin: 0%;
}

.footer {
  margin: 0%;
  padding: 0.75rem;
}

h1,
h2,
h3,
h4 {
  margin: 0px;
  font-family: serif;
  line-height: 125%;
  font-weight: 400;
  color: var(--Black);
}

p {
  font-family: sans-serif;
  font-size: 1rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.8125rem;
}

h4 {
  font-size: 1.625rem;
}

button {
  cursor: pointer;
}

/* end */

/* buttons under */

.button-link {
  background-color: transparent;
  display: inline-flex;
  border: none;
  padding: 0.625rem 1rem;
  justify-content: center;
  align-items: center;
}

.button-primary {
  color: var(--White);
  background: #3A422D;
  display: flex;
  border: none;
  padding: 0.625rem 1rem;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  align-self: stretch;
}

/*navbar udner */

nav.navbar {
  width: 100%;
  position: fixed;
  top: env(safe-area-inset-top);
  left: 0%;
  color: var(--Black, #171616);
  display: flex;
  padding: 1rem 0.75rem;
  justify-content: space-between;
  align-items: center;
  background: var(--White, #FCFEFE);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  z-index: 1000;
}

.hidden-checkbox {
  display: none;
}

label,
.button-link {
  cursor: pointer;
}

#close {
  background: var(--Primary, #3A422D);
  color: var(--White);
  cursor: pointer;
}

.nav .nav-list {
  margin: 0%;
  padding: 1rem;
  display: flex;
  width: 80%;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  position: absolute;
  z-index: 1;
  top: 0;
  right: -100%;
  /* Initially positioned outside the viewport */
  background: #E5E5E3;
  transition: right 0.444s ease-out;
  height: 100vh;
  overflow-y: auto;
}

.nav-list li {
  font-family: 'Source Sans Pro', sans-serif;
  color: var(--Black);
  font-size: 1.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.input-hidden {
  border: none;
  padding: 0%;
}

.input-wrapper {
  display: flex;
  padding: 0.75rem 0.5rem;
  position: relative;
  gap: 0.5rem;
  justify-content: left;
  align-items: stretch;
  align-self: stretch;
  border-radius: 0%;
  border: 1px solid var(--Black, #171616);
  background: var(--White, #FCFEFE);
}

.input-wrapper input {
  width: 100%;
  padding-right: 30px;
  /* Space for the icon */
}

.input-wrapper input:focus {
  border: none;
  outline: none;
}


.nav-list li .sidebar-item {
  width: 100%;
  display: inherit;
  padding: 0.75rem 0rem;
  justify-content: inherit;
  align-items: inherit;
  align-self: stretch;
}

.nav-list ul {
  width: 100%;
  margin: 0px;
  padding: 0;
}

/* overlay below */
.nav::before {
  content: "";
  position: fixed;
  /* Fixed positioning to cover the entire viewport */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  /* Semi-transparent black */
  z-index: -1;
  /* Place it behind the nav-list */
  opacity: 0;
  transition: opacity 0.3s ease-in;
  pointer-events: none;
  /* Ensures it doesn't interfere with clicks */
}

/* side menu transitions */
#nav-toggle:checked+label+.nav .nav-list {
  right: 0;
  /* Slide in to be fully visible */
}

#nav-toggle:checked+label+.nav::before {
  opacity: 1;
  /* Show the overlay when the menu is open */
}

/* side menu end */


.logo a {
  color: inherit !important;
  text-decoration: none !important;
  user-select: none;
  cursor: pointer;
}

/* hero */
.hero-section {
  color: #FCFEFE;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.35) 110.05%), url('images/6471e6f88712be98b39d421fdd164345.png'), lightgray -107.516px 0px / 167.179% 100% no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  width: 100%;
  height: 40.75rem;
  padding: 1.5rem 0.75rem;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 2rem;
  flex-shrink: 0;
}

/* hero end */

/* main content */

.main-padding {
  display: inherit;
  flex-direction: inherit;
  gap: inherit;
  padding: 0.75rem;
}

.container-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  align-self: stretch;
}

.category-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  align-self: stretch;
}

.category {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

/* main content end */

/* article */

.article {
  width: 100%;
  padding: 16px;
  background-color: #3A422D
}

.ourSustainability {
  color: var(--White, #FCFEFE) !important;
}

.articleText {
  color: var(--White, #FCFEFE) !important;
}

.articleButton {
  display: flex;
  padding: 10px 16px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  align-self: stretch;
}

/* article end */

/*Footer udner */

.footer {
  display: flex;
  width: 390px;
  padding: 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  background: var(--background, #E5E5E3);

}

.Contact {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  margin-bottom: 24px;
}

.Contact-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* Adjust the spacing between items as needed */
}

.Contact-item {
  display: inline-flex;
  /* Display icon and text in the same line */
  align-items: center;
  /* Center items vertically */
  gap: 8px;
}

.Contact-item img {
  width: 14px;
  height: 14px;
}

.Contact-item span {
  color: var(--Black, #171616);
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}


.email-container {
  display: flex;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
  margin-bottom: 24px;
}


.email-input {
  display: flex;
  padding: 12px 8px;
  align-items: center;
  flex: 1 0 0;

  border: 1px solid var(--Black, #171616);
  background: var(--White, #FCFEFE);
}

.subscribe-button {
  display: flex;
  padding: 10px 16px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  background: var(--Primary, #3A422D);

  /* Text styles */
  color: var(--White, #FCFEFE);
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  /* 20px */
}

/* Remove bullet points from all unordered lists */
ul {
  list-style-type: none;
}

.navigation-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
  margin-bottom: 24px;
}

.Sitemap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.links-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.links-container ul {
  margin: 0;
  /* Remove the default margin */
  padding: 0;
}


.icon-pair {
  display: flex;
  width: 61px;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
  row-gap: 8px;
  align-self: stretch;
  flex-wrap: wrap;
}

.some-icon {
  width: 24px;
  height: 24px;
  flex-shrink: 0;

}

.footer-links {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
}

#left-link,
#center-link,
#right-link {
  text-decoration: inherit;
  color: inherit;
}

.footer-link {
  text-decoration: none !important;
  color: var(--Black, #171616);
  /* Body text/body_16 */
  font-weight: 400;
  line-height: 125%;
  /* 20px */
}